@font-face {
  font-family: 'Aller';
  src: url('fonts/Aller.ttf') format('truetype')
}

@font-face{
	font-family: 'OpenSans';
  src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face{
	font-family: 'OpenSans-Semibold';
  src: url('fonts/OpenSans-Semibold.ttf') format('truetype');
}

@font-face{
	font-family: 'GothamBook';
  src: url('fonts/Gotham-Book_0.otf') format('woff');
}


.header__title, .banner-1__content__title, .our-team__content__title, .our-executive__content__title,
.banner-2__content__title, .banner-3__content-title, .banner-4__content__title,
.introducing__banner__title, .solution__banner__title,
.keys-role__content__title,.keys-role__content__item__number,.our-past__title,
.our-past__content__head__title,.our-past__content__head__subtitle,
.our-partner__circle__content__title,.annual-report__title,.faq__title,
.annual-report__title,
.success-stories__content__item__headline__title,
.success-stories__badge,.donation__banner__title,
.volunteer__content__title,.career__content2__item__title,.career__content2__title{
	font-family: 'Aller';
}

.navbar-nav, .header__menu__item, .our-team__content__desc, .banner-2__content__desc, .banner-3__content__desc,
.banner-3__content__infografis__content, .banner-4__join-us__circle,
.banner-4__contact-us__title, .banner-4__faq__title,
.banner-5__left__title, .banner-5__right__title,
.banner-6__item__body, .introducing__content, .solution__content,.keys-role__content__item__desc,
.our-past__content__body__table,.team__content__item,
.director__content__name,.director__content__position,.director__content__desc,
.map-detail__content__item__right, .success-stories__content__item__headline__desc,
.join-us__content-3__menu,.join-us__content-3__button,.donation-2__banner__title,.donation__button, .volunteer__content2__desc,
.volunteer__content3__title,.volunteer__content3__item1__title,.volunteer__content3__item1__desc,
.volunteer__content3__item1__desc,
.volunteer__content3__item2__subtitle,
.volunteer__content3__item2__title,.volunteer__content3__item2__desc,
.volunteer__content3__item3__title,.volunteer__content3__item3__desc,.volunteer__content3__item3__subtitle,
.volunteer__content5__title,.volunteer__content5__button,.volunteer__form__title,.donation__button,
.map-detail__content__desc,.volunteer__content__desc,.career__content__title,.career__content2__title
.career__content2__item__title, .career__content2__item__desc,.career__content2__item__read-more
.career__content3__subtitle
,.career__content3__title
,.become-partner__content__title
,.become-partner__content__subtitle,.become-partner__content2__desc,
.become-partner__content2__title,.become-partner__content3__title,
.become-partner__content4__subtitle,.become-partner__content4__title,.become-partner__content2__item__title,.career__content2__item__read-more,
.career__content3__title2,.career__content3__title,.career__content-detail__desc
{
	font-family: 'OpenSans';
}

.banner-1__content__desc, .our-executive__content__subtitle , .our-executive__content__desc,
.footer__right__table, .footer__left__button, .footer__left__email,.faq__answer,.faq__question,.donation__banner__subtitle,
.donation-2__banner__subtitle,.donation-form, .my-title,.our-past__title,
.map-detail__content__title,.highcharts-legend,
.highcharts-label, .highcharts-data-label,.volunteer__content__title,.career__content3__subtitle,{
	font-family: 'GothamBook';
}

.banner-3__content__desc, .banner-4__content__desc{
	font-size: 12px;
}
.banner-2-2__content__item__desc, .footer__left__text, .join-us__banner__title,
.join-us__content-2__title,
.join-us__content-3__title,.career__content2__item__desc,.career__content-detail__title,.career__content-detail__position,
.career__content-detail__value__title,.career__content-detail__value__desc{
	font-family: 'OpenSans-Semibold';
}

.map-detail__content__item__left__img {
	width: initial;
}

.map-detail__content__item__right__title{
	font-size: 12px;
}

.map-detail__content__item__right__value{
	font-size: 24px;
}

.navbar-inverse .navbar-nav>li>a, .header__search{
	font-size: 12px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	font-size: 12px;
}