body {
	font-family: arial;
	background: #fff;
}

.no-underline {
	text-decoration: none;
}

.bg-black {
	background: #000;
}

.container-own {
	position: relative;
	min-height: 700px;
}

.clear {
	clear: both;
}

.button__readmore__long {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 200px;
	height: 40px;
	background: url("../images/read-more.png") #2381aa top left no-repeat;
	color: #fff;
	padding-left : 40px;
	line-height: 36px;
}

.button__readmore {
	font-size: 12px;
	line-height: 36px;
	color: #fff;
	overflow: hidden;
	padding-left: 36px;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 36px;
	height: 36px;
	background: url("../images/read-more.png") #2381aa no-repeat;
	cursor: pointer;
    -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
}

.button__readmore:hover {
	width: 180px;
	text-align: center;
}

.button__readmore-white {
	display: block;
	font-size: 12px;
	line-height: 36px;
	color: #2381aa;
	overflow: hidden;
	padding-left: 36px;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 36px;
	height: 36px;
	background: url("../images/button-white.png") #fff no-repeat;
	cursor: pointer;
    -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
}

.button__readmore-white:hover {
	width: 180px;
	text-align: center;
}

.u-pad {
	padding: 0 !important;
}

.background-cover {
	background: url("../images/banner1.jpg") no-repeat top center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.images-cover {
	background-size: cover;
}

.header {
	height: 98px;
	line-height: 98px;
	background: #F9F9F9;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.header__frame {
	width: 100%;
	height: 98px;
}

.header__logo {
	float: left;
	margin-top: 12px;
}

.header__title {
	color: #3C81A7;
	font-size: 20px;
	display: inline-block;
	width: 160px;
	line-height: 100px;
	padding-left: 5px;
}

.header__search {
	background: url("../images/search.png") 0px 5px no-repeat;
	border:none;
  padding:0 30px;
  display: inline-block;
  height: 30px;
  outline: none;
  color: #999;
}

.header__menu {
	float: right;
	height: 100px;
}

.header__menu__item {
	color: #999;
	font-size: 18px;
	margin-left: 20px;
	margin-right: 20px;
	float: right;
	height: 100px;
}

.header__menu__item--active {
	font-weight: bold;
	color: #777;
	border-bottom:3px solid #3C81A7;
}

.banner {
	width: 100%;
	min-height: 700px;
	position: relative;
}

.banner-1 {
	background: url("../images/banner1.jpg") no-repeat top center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner-overlay {
	position: absolute; 
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.banner-overlay img{
	width: 100%;
	min-width: 1000px;
}

.banner-overlay-map {
	position: absolute; 
	width: 100%;
	height: 100%;	
	min-width: 1170px;
}

.banner-overlay-map img{
	width: 100%;
}

.banner-2 {
	background: #fff;
}

.banner-3 {
	background: #fff;
}

.banner-1__content {
	background: #fff;
	width: 100%;
	position: absolute;
	margin-top: 150px;
	padding: 80px 50px;
	padding-left: 120px;
}

.banner-1__content__title {
	font-size: 48px;
	color: #3C81A7;
	font-weight: bold;
	margin-bottom: 20px;
}

.banner-1__content__desc {
	font-size: 24px;
	font-style: italic;
	color: #777;
}

.banner-1__content__button {
	padding: 10px;
	background: #3C81A7;
	color: #fff;
	width: 180px;
	text-align: center;
	font-size: 12px;
	float: right;
	margin-top: 40px;
}

.banner-2__content {
	background: #3C81A7;
	width: 100%;
	margin-top: 100px;
	padding: 30px 50px;
	padding-bottom: 60px;
	color: #fff;
	border:1px solid #3C81A7;
	position: relative;
}

.banner-2__content__title {
	font-size: 40px;
	color: #fff;
	font-weight: bold;
	margin-bottom: 20px;
}

.banner-2__content__desc {
	font-size: 16px;
}

.banner-2__content__button {
	padding: 10px;
	background: #fff;
	color: #3C81A7;
	width: 60px;
	text-align: center;
	font-size: 12px;
	bottom: 0;
	right: 0;
	position: absolute;
}

.banner-2-2__content {
	width: 100%;
	padding: 30px 0px;
	padding-bottom: 100px;
	right: 10%;
}

.banner-2-2__content__item {
	float: left;
	width: 33%;
}

.banner-2-2__content__item:hover .banner-2-2__content__item__circle {
	border: 15px solid #A7CDDD;
}

.banner-2-2__content__item:hover .banner-2-2__content__item__desc {
	color: #3C81A7;
}

.banner-2-2__content__item__circle {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border:15px solid #F1F1F2;
	text-align: center;
	margin: 0 auto;
}

.banner-2-2__content__item__circle img{
	vertical-align: middle;
	margin-top: 20px;
}

.banner-2-2__content__item__circle__item-1 {
	background: url("../images/banner-2-icon-1.png") no-repeat center center;
}

.banner-2-2__content__item:hover .banner-2-2__content__item__circle__item-1 {
	background: url("../images/banner-2-icon-1-hover.png") no-repeat center center;
}

.banner-2-2__content__item__circle__item-2 {
	background: url("../images/banner-2-icon-2.png") no-repeat center center;
}

.banner-2-2__content__item:hover .banner-2-2__content__item__circle__item-2 {
	background: url("../images/banner-2-icon-2-hover.png") no-repeat center center;
}

.banner-2-2__content__item__circle__item-3 {
	background: url("../images/banner-2-icon-3.png") no-repeat center center;
}

.banner-2-2__content__item:hover .banner-2-2__content__item__circle__item-3 {
	background: url("../images/banner-2-icon-3-hover.png") no-repeat center center;
}


.banner-2-2__content__item__desc {
	text-align: center;
	margin-top: 20px;
	color: #999;
}

.banner-3__content-title {
	font-size: 40px;
	color: #3C81A7;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 30px;
}

.banner-3__content {
	background: #d1d3d4;
	padding: 30px;
	position: relative;
	padding-bottom: 60px;
}

.banner-3__content__desc {
	font-size: 18px;
	color: #777;
}

.banner-3__content__button {
	padding: 10px;
	background: #3C81A7;
	color: #fff;
	width: 50px;
	text-align: center;
	font-size: 12px;
	position: absolute;
	margin-top: 20px;
	right: 0;
	bottom: 0;
}

.banner-3__content__infografis__frame {
	margin-top: 50px;
}

.banner-3__content__infografis {
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	width: 300px;
	display: inline-block;
}

.banner-3__content__infografis__img {
	width: 80px;
	height: 80px;
	float: left;
}

.banner-3__content__infografis__content {
	margin-top: 10px;
	width: 180px;
	float: right;
}

.banner-3__content__infografis__content__title {
	font-size: 12px;
	color: #999;
}


.banner-3__content__infografis__content__value {
	font-size: 30px;
}

.banner-3__background {
	margin-bottom: 50px;
}

.banner-3__detail-button {
	position: absolute;
	right: 0;
	bottom: 80px;
	width: 100px;
	height: 120px;
	background: url("../images/our-impact-detail-button.png") no-repeat center top;
}

.banner-3__detail-button__title {
	color: #2381aa;
	font-weight: bold;
	text-align: center;
	padding-top: 100px;
}


.banner-3__circle-button {
	width: 300px;
	position: absolute;
	left: 0;
	bottom: 50px;
}

.banner-3__circle-button__item {
	float: left;
	width: 50%;
}

.banner-3__circle-button__item:hover .banner-3__circle-button__item__circle {
	border: 15px solid #A7CDDD;
}

.banner-3__circle-button__item:hover .banner-3__circle-button__item__desc {
	color: #3C81A7;
}

.banner-3__circle-button__item__circle {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border:12px solid #F1F1F2;
	text-align: center;
	margin: 0 auto;
}

.banner-3__circle-button__item__desc {
	text-align: center;
	margin-top: 10px;
	color: #666;
	font-weight: bold;
}

.banner-3__circle-button__item__circle__item-1 {
	background: url("../images/banner-5-icon-2.png") no-repeat center center;
}

.banner-3__circle-button__item:hover .banner-3__circle-button__item__circle__item-1 {
	background: url("../images/banner-5-icon-2.png") no-repeat center center;
}

.banner-3__circle-button__item__circle__item-2 {
	background: url("../images/banner-5-icon-1.png") no-repeat center center;
}

.banner-3__circle-button__item:hover .banner-3__circle-button__item__circle__item-2 {
	background: url("../images/banner-5-icon-1.png") no-repeat center center;
}

.banner-4 {
	min-height: 600px;
	background: #999;
	overflow: auto;
}

.banner-4__content {
	width: 80%;
	margin: 0 auto;
	margin-top: 382px;
	margin-bottom: 50px;
	position: relative;
}

.banner-4__content__title {
	font-size: 48px;
	color: #fff;
	font-weight: bold;
}

.banner-4__content__desc {
	background: #231f20;
	padding: 20px;
	position: relative;
	color: #999;
	min-height: 100px;
}

.banner-4__join-us {
	width: 100%;
	height: 300px;
	background: #2381aa;
	overflow: auto;
}

.banner-4__join-us__circle {
	opacity: 0.75;
	background: #fff;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 50%;
	text-align: center;
	font-size: 36px;
	color: #2381aa;
	font-weight: bold;
	line-height: 200px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.banner-4__contact-us {
	width: 50%;
	float: left;
	height: 300px;
	background: #3ead4b;
	position: relative;
}
.banner-4__contact-us__frame {
	position: absolute;
	left: 0;
	right: 0;
}

.banner-4__contact-us__icon {
	width: 117px;
	height: 117px;
	text-align: center;
	background: url("../images/banner-4__contact-us.png") no-repeat center center;
	margin: 0 auto;
	margin-top: 60px;
}

.banner-4__contact-us__title {
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 36px;
	font-weight: bold;
}

.banner-4__faq {
	width: 50%;
	float: right;
	height: 300px;
	background: #b3cd5a;
	position: relative;
}

.banner-4__faq__frame {
	position: absolute;
	left: 0;
	right: 0;
}


.banner-4__faq__icon {
	width: 117px;
	height: 117px;
	text-align: center;
	background: url("../images/banner-4__faq.png") no-repeat center center;
	margin: 0 auto;
	margin-top: 60px;
}

.banner-4__faq__title {
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 36px;
	font-weight: bold;
}

.banner-5 {
	width: 100%;
	min-height: 600px;
}

.banner-5__left {
	width: 100%;
	height: 600px;
	overflow: auto;
	position: relative;
}

.banner-5__left__icon {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	margin-top: 200px;
	text-align: center;
	background: url("../images/sample-icon.png") no-repeat center center;
	background-size: 100%;
}

.banner-5__left__title {
	color: #fff;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	width: 100%;
	margin-top: 20px;
}

.banner-5__right {
	width: 100%;
	height: 600px;
	overflow: auto;
	position: relative;
}

.banner-5__right__icon {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	margin-top: 200px;
	text-align: center;
	background: url("../images/sample-icon.png") no-repeat center center;
	background-size: 100%;
}

.banner-5__right__title {
	color: #fff;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	width: 100%;
	margin-top: 20px;
}

.banner-6 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.banner-6__item {
	width: 100%;
	margin-top: 20px;
}

.banner-6__item__head {
	background: #2381aa;
	text-align: center;
	padding: 20px;
}

.banner-6__item__head img{
	width: 40px;
}

.banner-6__item__body {
	background: #e8e3e3;
	padding: 20px;
	min-height: 200px;
}

.footer {
	padding: 50px 0;
	border-top: 1px solid #ccc;
}

.footer__left__email {
  width: 250px;
  background: #fff;
  line-height: 2;
  padding: 0.5rem;
  font-size: 2rem;
  border: 0;
  outline: 0;
  float: left;
  padding-left: 20px;
  border: 1px solid #ccc;
}

.footer__left__button {
	width: 150px;
  background-color: #b3cd5a;
  color: #fff;
  line-height: 2;
  padding: 0.6rem;
  font-size: 2rem;
  border: none;
  outline: 0;
  float: left;
}

.footer__left__text {
	font-size: 12px;
	margin-top: 10px;
	color: #999;
}

.footer__left__logo {
	margin-top: 30px;
}

.footer__right__table {
	float: right;
}

.footer__right__table tr td {
	padding: 10px;
	color: #444;
	font-size: 16px;
}

.introducing__banner {
	width: 100%;
	height: 320px;
	overflow: hidden;
	position: relative;
}

.introducing__banner__title {
	font-size: 50px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	width: 100%;
	padding-top: 150px;
	position: relative;
}

.introducing__content {
	color: #414042;
	padding: 60px 20px;
	font-size: 16px;
}

.our-past__title {
	font-size: 36px;
	color: #2381aa;
	font-weight: bold;
	line-height: 40px;
	text-align: right;
	margin-top: 40px;
}

.our-past__content {
	border: 1px solid #ccc;
}

.our-past__content__head {
	padding: 20px;
	background: #fff;
}

.our-past__content__head__title {
	font-size: 20px;
	font-weight: bold;
	color: #414042;
	text-transform: uppercase;
}

.our-past__content__head__subtitle {
	font-size: 12px;
	color: #414042;
}

.our-past__content__body {
	padding: 20px;
	background: #2381aa;
	color: #fff;
	position: relative;	
}

.our-past__content__body__table {
	width: 200px;
	margin-top: 20px;	
}

.our-past__content__body__table tr td{
	padding: 10px;
}

.our-past__content__body__title {
	font-size: 16px;
}

.our-past__content__body__desc {
	font-size:10px;
}

.our-past__content__body__value1 {
	font-size: 20px;
}

.our-past__content__body__value2 {
	font-size: 30px;
}

.our-past__content__map {
  width: 50px;
	height: 50px;
	background: url("../images/location-pointer.png");
	position: absolute;
	background-size: cover;
	top: 150px;
	left: 300px;
	cursor: pointer;
  -webkit-transform: translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
  cursor: pointer;
}

.our-past__content__map:hover {
	background: url("../images/location-pointer-hover.png");
	background-size: cover;
}


.our-past__content__map .tooltip {
  background: #1496bb;
  top: 50px;
  color: #fff;
  display: block;
  left: -250px;
  margin-bottom: 15px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 250px;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}
  
.our-past__content__map:hover .tooltip {
	top: 0px;
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .our-past__content__map .tooltip {
  display: none;
}

.lte8 .our-past__content__map:hover .tooltip {
  display: block;
}

.our-partner {
	position: relative;
	overflow: hidden;
}

.our-partner__circle {
	width: 900px;
	height: 900px;
	border: 50px #dcddde solid;
	border-radius: 50%;
	margin:-100px auto;
}

.our-partner__circle__content {
	margin-top: 200px;
}

.our-partner__circle__content__title {
	margin-bottom: 40px;
	font-size: 36px;
	color: #2381aa;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

.our-partner__circle__content__item {
	text-align: center;
}


.solution__banner {
	width: 100%;
	height: 320px;
	overflow: hidden;
	position: relative;
}

.solution__banner__title {
	font-size: 50px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	width: 100%;
	padding-top: 150px;
	position: relative;
}

.solution__content {
	color: #414042;
	padding: 60px 20px;
	font-size: 16px;
}

.our-team {
	position: relative;
	min-height: 700px;
	overflow: auto;
}

.our-team__content {
	margin-top: 180px;
	color: #fff;
	position: relative;
	width: 100%;
	text-align: center;
}

.our-team__content__title {
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 30px;
}

.our-team__content__desc {
	font-size: 2.5em;
	margin-bottom: 100px;
}

.our-team__content__button {
	border-radius: 2px;
	background: #fff;
	color: #2381aa;
	padding: 10px 20px;
	cursor: pointer;
	font-weight: bold;
}

.our-executive {
	position: relative;
	min-height: 700px;
	overflow: auto;
}

.our-executive__content {
	margin-top: 150px;
	color: #fff;
	position: relative;
	width: 100%;
}

.our-executive__content__title {
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 30px;
}

.our-executive__content__subtitle {
	font-size: 30px;
	margin-bottom: 30px;
}

.our-executive__content__desc {
	font-size: 1.5em;
	margin-bottom: 50px;
}

.our-executive__content__button {
	border-radius: 2px;
	background: #2381aa;
	color: #fff;
	padding: 10px 20px;
	cursor: pointer;
	font-weight: bold;
}

.annual-report__title {
	font-size: 36px;
	color: #2381aa;
	font-weight: bold;
	line-height: 40px;
	margin-top: 40px;
	text-transform: uppercase;
}

.keys-role {
	position: relative;
	min-height: 700px;
	overflow: auto;
}

.keys-role__content {
	margin-top: 180px;
	color: #fff;
	position: relative;
	width: 100%;
	text-align: center;
}

.keys-role__content__title {
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 30px;
}

.keys-role__content__item {
	text-align: center;
}

.keys-role__content__item__img {
	width: 150px;
}

.keys-role__content__item__number {
	font-size: 72px;
	font-weight: bold;
	margin-top: 20px;
}

.keys-role__content__item__desc {
	font-size: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.team__content {
	border:1px solid #ccc;
	padding: 20px;
	width: 100%;
	margin: 40px 0;
	padding-top: 50px;
}

.team__content__item {
	text-align: center;
	margin-bottom: 40px;
}

.team__content__item__img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 0 auto;
}

.team__content__item__name {
	font-size: 22px;
	font-weight: bold;
	margin-top: 20px;
	color: #666;
}

.team__content__item__position {
	color: #666;
}

.director__content {
	border:1px solid #ccc;
	padding: 50px;
	width: 100%;
	margin: 40px 0;
}

.director__content__img {
	width: 320px;
	height: 320px;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.director__content__name {
	font-size: 26px;
}

.director__content__position {
	color: #999;
	font-size: 16px;
}

.director__content__desc {
	margin-top: 30px;
}

.map-detail {
	position: relative;
}

.map-detail__content {
	padding: 50px 20px;
}

.map-detail__content__item {
	margin-bottom: 20px;
}

.map-detail__content__item__left {
	width: 35%;
	float: left;
}

.map-detail__content__item__left__img {
	width: 100%;
}

.map-detail__content__item__right {
	width: 65%;
	float: right;
	margin-top: 10px;
}

.map-detail__content__item__right__title {
	font-size: 12px;
	color: #666;
}

.map-detail__content__item__right__value {
	font-size: 40px;
	font-weight: bold;
}

.map-detail__background__img {
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	max-width: 1000px;
	pointer-events: none;
}

.map-detail__content__title {
	font-size: 20px;
	color: #2381aa;
	font-weight: bold;
	text-align: left;
}

.map-detail__content__subtitle {
	font-size: 14px;
	font-weight: bold;
	color: #666;
	margin-bottom: 10px;
	text-align: left;
}

.map-detail__content__desc {
	width: 300px;
	text-align: right;
	font-size: 16px;
	color: #999;
	font-weight: bold;
	position: absolute;
	right: 30px;
	top: 0;
}

.map-detail__content__chart{
	margin-left: -100px;
	padding-top: 20px;
}


.faq__title {
	font-size: 36px;
	color: #2381aa;
	font-weight: bold;
	line-height: 40px;
	margin-top: 40px;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.faq {
	padding: 50px 0;
}

.faq__question {
	font-size: 22px;
	columns: #666;
	margin-bottom: 10px;
}

.faq__answer {
	font-size: 20px;
	color: #2381aa;
	margin-bottom: 20px;
	padding-left: 25px;
}

.success-stories__frame {
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
}

.success-stories__frame::-webkit-scrollbar {
    width: 1em;
}
 
.success-stories__frame::-webkit-scrollbar-track {
    background: #eee;
}
 
.success-stories__frame::-webkit-scrollbar-thumb {
  background-color: #2381aa;
  outline: 1px solid slategrey;
}

.success-stories__content__item {
	width: 380px;
	height: 700px;
	background: #ccc;
	float: left;
	overflow: hidden;
	position: relative;
}

.success-stories__content__item__headline {
	background: url("../images/overlay.png") repeat;
	padding: 30px 50px;
	width: 100%;
	height: 265px;
	margin-top: 435px;
	color: #fff;
	position: relative;
}

.success-stories__badge {
	width: 250px;
	padding: 20px;
	background: #3ead4b;
	font-size: 36px;
	color: #fff;
	font-weight: bold; 
	padding-left: 50px;
	position: absolute;
	z-index: 1;
}


.success-stories__content__item__headline__title {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 20px;
}

.success-stories__content__item__headline__desc {
	max-height: 120px;
	overflow: hidden;
}

.join-us__banner {
	width: 100%;
	height: 620px;
	overflow: hidden;
	position: relative;
}

.join-us__banner__title {
	font-size: 50px;
	color: #fff;
	text-align: center;
	width: 50%;
	padding-top: 240px;
	position: relative;
	margin: 0 auto;
}

.join-us__content-1 {
	text-align: center;
	margin: 80px 0;
}

.join-us__content-1__img {

}

.join-us__content-1__title {
	font-weight: bold;
	font-size: 20px;
	margin: 20px 0;
}

.join-us__content-1__title:hover {
	text-decoration: underline;
	color: #2381aa;
}

.join-us__content-1__desc {
	color: #999;
	font-size: 16px;
	padding:0 40px;
}

.join-us__content-2{
	text-align: center;
	margin-bottom: 80px;
}

.join-us__content-2__title{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	width: 100%;
	color: #58595b;
	margin-bottom: 40px;
}

.join-us__content-2__video{
	text-align: center;
	width: 100%;
}

.join-us__content-2__video__title{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 30px;
}

.join-us__content-3{
	text-align: center;
	color: #fff;
	background: #3ead4b;
	padding: 50px 0;
}

.join-us__content-3__title {
	font-size: 40px;
	margin-bottom: 50px;
}

.join-us__content-3__menu {
	font-size: 16px;
	line-height: 26px;
	color: #c1e0c5;
}

.join-us__content-3__button {
	width: 250px;
	text-align: center;
	background: #fff;
	border-radius: 2px;
	color: #666;
	font-size: 20px;
	font-weight: bold;
	margin: 0 auto;
	cursor: pointer;
	padding: 10px;
	margin-top: 50px;
}

.fp-section{
	background: transparent !important;
}

@media screen and (min-width: 768px) {
	.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
		border-bottom: 3px solid #2381aa;
		padding-bottom: 40px;
	}

	.navbar-inverse .navbar-nav> li>a:hover {
		border-bottom: 3px solid #2381aa;
		padding-bottom: 40px;
	}

	.navbar {
		border: none;
	}

	.navbar-inverse .navbar-nav>li>a{
		cursor: pointer;
	}
}

@media screen and (max-width: 1000px) {
	.join-us__banner__title {
		width: 100%;
	}
	.footer__right__table {
		float: left;
	}

	.map-detail__content__chart{
		margin-left: 0px;
	}

	.banner-overlay-2 {
		display: none;
	}

	.footer__left__email {
	  width: 100%;
    text-align: center;
	}

	.footer__left__button {
		width: 100%;
    text-align: center;
	}
}