body {
	font-family: arial;
	background: #fff;
}

.container-own {
	position: relative;
	min-height: 700px;
}

.clear {
	clear: both;
}

.button__readmore {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 36px;
	height: 36px;
	background: url("../images/read-more.png");
}

.u-pad {
	padding: 0 !important;
}

.background-cover {
	background: url("../images/banner1.jpg") no-repeat top center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.images-cover {
	background-size: cover;
}

.header {
	height: 98px;
	line-height: 98px;
	background: #F9F9F9;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.header__frame {
	width: 100%;
	height: 98px;
}

.header__logo {
	margin-right: 10px;
	float: left;
	margin-top: 10px;
}

.header__title {
	color: #3C81A7;
	font-size: 18px;
	display: inline-block;
	width: 160px;
}

.header__search {
	background: url("../images/search.png") 0px 5px no-repeat;
	border:none;
  padding:0 30px;
  display: inline-block;
  height: 30px;
  outline: none;
  color: #999;
}

.header__menu {
	float: right;
	height: 100px;
}

.header__menu__item {
	color: #999;
	font-size: 18px;
	margin-left: 20px;
	margin-right: 20px;
	float: right;
	height: 100px;
}

.header__menu__item--active {
	font-weight: bold;
	color: #777;
	border-bottom:3px solid #3C81A7;
}

.banner {
	width: 100%;
	min-height: 700px;
	border-bottom: 3px solid #000;
	position: relative;
}

.banner-1 {
	background: url("../images/banner1.jpg") no-repeat top center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner-overlay {
	position: absolute; 
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.banner-overlay img{
	width: 100%;
	min-width: 1200px;
}

.banner-2 {
	background: #fff;
}

.banner-3 {
	background: #fff;
}

.banner-1__content {
	background: #fff;
	width: 100%;
	position: absolute;
	margin-top: 150px;
	padding-top: 80px;
	padding-left: 50px;
}

.banner-1__content__title {
	font-size: 48px;
	color: #3C81A7;
	font-weight: bold;
	margin-bottom: 20px;
}

.banner-1__content__desc {
	font-size: 24px;
	font-style: italic;
	color: #777;
}

.banner-1__content__button {
	padding: 10px;
	background: #3C81A7;
	color: #fff;
	width: 180px;
	text-align: center;
	font-size: 12px;
	float: right;
	margin-top: 40px;
}

.banner-2__content {
	background: #3C81A7;
	width: 100%;
	margin-top: 100px;
	padding: 30px 50px;
	padding-bottom: 60px;
	color: #fff;
	border:1px solid #3C81A7;
	position: relative;
}

.banner-2__content__title {
	font-size: 48px;
	color: #fff;
	font-weight: bold;
	margin-bottom: 20px;
}

.banner-2__content__desc {
	font-size: 16px;
}

.banner-2__content__button {
	padding: 10px;
	background: #fff;
	color: #3C81A7;
	width: 60px;
	text-align: center;
	font-size: 12px;
	bottom: 0;
	right: 0;
	position: absolute;
}

.banner-2-2__content {
	width: 100%;
	padding: 30px;
	padding-bottom: 100px;
	right: 10%;
}

.banner-2-2__content__item {
	float: left;
	margin-right: 8%;
	width: 25%;
}

.banner-2-2__content__item:hover .banner-2-2__content__item__circle {
	border: 15px solid #A7CDDD;
}

.banner-2-2__content__item:hover .banner-2-2__content__item__desc {
	color: #3C81A7;
}

.banner-2-2__content__item__circle {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border:15px solid #F1F1F2;
	text-align: center;
}

.banner-2-2__content__item__circle img{
	vertical-align: middle;
	margin-top: 20px;
}

.banner-2-2__content__item__desc {
	text-align: center;
	margin-top: 20px;
	color: #999;
}

.banner-3__content-title {
	font-size: 40px;
	color: #3C81A7;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 30px;
}

.banner-3__content {
	background: #d1d3d4;
	padding: 30px;
	position: relative;
	padding-bottom: 60px;
}

.banner-3__content__desc {
	font-size: 18px;
	color: #777;
}

.banner-3__content__button {
	padding: 10px;
	background: #3C81A7;
	color: #fff;
	width: 50px;
	text-align: center;
	font-size: 12px;
	position: absolute;
	margin-top: 20px;
	right: 0;
	bottom: 0;
}

.banner-3__content__infografis__frame {
	margin-top: 50px;
}

.banner-3__content__infografis {
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	width: 300px;
	display: inline-block;
}

.banner-3__content__infografis__img {
	width: 80px;
	height: 80px;
	float: left;
}

.banner-3__content__infografis__content {
	margin-top: 10px;
	width: 180px;
	float: right;
}

.banner-3__content__infografis__content__title {
	font-size: 12px;
	color: #999;
}


.banner-3__content__infografis__content__value {
	font-size: 30px;
}

.banner-4 {
	min-height: 600px;
	background: #999;
}

.banner-4__content {
	width: 80%;
	margin: 0 auto;
	margin-top: 350px;
	margin-bottom: 50px;
}

.banner-4__content__title {
	font-size: 48px;
	color: #fff;
	font-weight: bold;
}

.banner-4__content__desc {
	background: #231f20;
	padding: 20px;
	position: relative;
	color: #999;
}

.banner-4__join-us {
	width: 100%;
	height: 300px;
	background: #2381aa;
	overflow: auto;
}

.banner-4__join-us__circle {
	opacity: 0.75;
	background: #fff;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 50%;
	text-align: center;
	font-size: 36px;
	color: #2381aa;
	font-weight: bold;
	line-height: 200px;
}

.banner-4__contact-us {
	width: 50%;
	float: left;
	height: 300px;
	background: #3ead4b;
}

.banner-4__contact-us__icon {
	width: 117px;
	height: 117px;
	text-align: center;
	background: url("../images/banner-4__contact-us.png") no-repeat center center;
	margin: 0 auto;
	margin-top: 60px;
}

.banner-4__contact-us__title {
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 36px;
	font-weight: bold;
}

.banner-4__faq {
	width: 50%;
	float: right;
	height: 300px;
	background: #b3cd5a;
}

.banner-4__faq__icon {
	width: 117px;
	height: 117px;
	text-align: center;
	background: url("../images/banner-4__faq.png") no-repeat center center;
	margin: 0 auto;
	margin-top: 60px;
}

.banner-4__faq__title {
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 36px;
	font-weight: bold;
}

.banner-5 {
	width: 100%;
	min-height: 600px;
}

.banner-5__left {
	width: 100%;
	height: 600px;
	overflow: auto;
	position: relative;
}

.banner-5__left__icon {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	margin-top: 200px;
	text-align: center;
	background: url("../images/sample-icon.png") no-repeat center center;
	background-size: 100%;
}

.banner-5__left__title {
	color: #fff;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	width: 100%;
	margin-top: 20px;
}

.banner-5__right {
	width: 100%;
	height: 600px;
	overflow: auto;
	position: relative;
}

.banner-5__right__icon {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	margin-top: 200px;
	text-align: center;
	background: url("../images/sample-icon.png") no-repeat center center;
	background-size: 100%;
}

.banner-5__right__title {
	color: #fff;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	width: 100%;
	margin-top: 20px;
}

.banner-6 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.banner-6__item {
	width: 100%;
	margin-top: 20px;
}

.banner-6__item__head {
	background: #2381aa;
	text-align: center;
	padding: 20px;
}

.banner-6__item__head img{
	width: 40px;
}

.banner-6__item__body {
	background: #e8e3e3;
	padding: 20px;
	min-height: 200px;
}

.footer {
	padding: 50px;
	border-top: 1px solid #ccc;
}

.footer__left__email {
  width: 300px;
  background: #fff;
  line-height: 2;
  padding: 0.5rem;
  font-size: 2rem;
  border: 0;
  outline: 0;
  float: left;
  padding-left: 20px;
  border: 1px solid #ccc;
}

.footer__left__button {
	width: 150px;
  background-color: #b3cd5a;
  color: #fff;
  line-height: 2;
  padding: 0.6rem;
  font-size: 2rem;
  border: none;
  outline: 0;
  float: left;
}

.footer__left__text {
	font-size: 12px;
	margin-top: 10px;
	color: #999;
}

.footer__left__logo {
	margin-top: 10px;
}

.footer__right__table {
	width: 400px;
	float: right;
}

.footer__right__table tr td {
	padding: 10px;
	color: #999;
	font-size: 16px;
}


@media screen and (max-width: 1000px) {
	.footer__right__table {
		width: 400px;
		float: left;
	}
}